<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sql.cart.mapper">

    <delete id="deleteByMemberId" parameterType="Long">
        DELETE FROM cart WHERE member_id = #{memberId}
    </delete>

    <!---->
    <delete id="deleteByItemId" parameterType="Long">
        DELETE FROM cart WHERE item_id = #{itemId}
    </delete>

    <delete id="deleteByMemberIdAndItemId">
        DELETE FROM cart WHERE member_id = #{memberId} AND item_id = #{itemId}
    </delete>

    <insert id="save" parameterType="release.release_proj.domain.Cart">
        INSERT INTO cart (member_id, item_id, amount)
        VALUES (#{memberId}, #{itemId}, #{amount})
    </insert>

    <select id="findByMemberId" parameterType="Long" resultType="release.release_proj.domain.Cart">
        SELECT * FROM cart WHERE member_id = #{memberId}
    </select>

    <select id="findByMemberIdAndItemId" resultType="release.release_proj.domain.Cart">
        SELECT * FROM cart WHERE member_id = #{memberId} AND item_id = #{itemId}
    </select>

    <update id="updateCartAmount">
        UPDATE cart
        SET amount = amount + #{amount}
        WHERE member_id = #{memberId} AND item_id = #{itemId}
        LIMIT 1
    </update>

    <delete id="deleteCartIfAmountIsZero">
        <![CDATA[
        DELETE FROM cart
        WHERE member_id = #{memberId} AND item_id = #{itemId} AND amount <= 0
        ]]>
    </delete>

</mapper>