<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="release.release_proj.repository.ItemRepository">-->
<mapper namespace="sql.item.mapper">

    <delete id="deleteByItemId" parameterType="Long">
        DELETE FROM item WHERE item_id = #{itemId}
    </delete>

    <insert id="save" parameterType="release.release_proj.domain.Item" useGeneratedKeys="true" keyProperty="itemId">
        INSERT INTO item (name, price, count, stock, category, text, is_soldout, picture, discount, origin, delivery_type, seller, unit)
        VALUES (#{name}, #{price}, #{count}, #{stock}, #{category}, #{text}, #{isSoldout}, #{picture}, #{discount}, #{origin}, #{delivery_type}, #{seller}, #{unit})
    </insert>

    <select id="findByItemId" parameterType="Long" resultType="release.release_proj.domain.Item">
        SELECT * FROM item WHERE item_id = #{itemId}
    </select>

    <select id="findByItemName" parameterType="String" resultType="release.release_proj.domain.Item">
        SELECT * FROM item WHERE name = #{name}
    </select>

    <select id="findAll" resultType="release.release_proj.domain.Item">
        SELECT * FROM item
    </select>

    <select id="findByIsSoldout" parameterType="Boolean" resultType="release.release_proj.domain.Item">
        SELECT * FROM item WHERE is_soldout = #{isSoldout}
    </select>

    <select id="findByCategory" parameterType="String" resultType="release.release_proj.domain.Item">
        SELECT * FROM item WHERE category = #{category}
    </select>

    <update id="updateItem" parameterType="release.release_proj.domain.Item">
        UPDATE item
        SET name = #{name}, price = #{price}, count = #{count}, stock = #{stock}, category = #{category}, text = #{text}, is_soldout = #{isSoldout}, picture = #{picture}, discount = #{discount}, origin = #{origin}, delivery_type = #{delivery_type}, seller = #{seller}, unit = #{unit}
        WHERE item_id = #{itemId}
    </update>

    <update id="updateIsSoldout" parameterType="Long">
        UPDATE item
        SET is_soldout = 1 - is_soldout
        WHERE item_id = #{itemId}
    </update>

</mapper>